body {
    background-color: #ecf0f1;
}

h1 {
    display: inline;
}

a {
    color: #f39c12;
}

a:hover {
    color: #c0392b;
}

.col-lg-12 {
    background-color: #ecf0f1;
    text-align: center;

}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
    background-color: #2980b9;
    color: white;
}

.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

 .navbar-inverse .navbar-brand {
    color:white;
}

.navbar-inverse .navbar-brand:hover {
   color: #666;
}

.navbar-inverse .container-fluid .navbar-collapse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .container-fluid .navbar-collapse .navbar-nav > li > a:hover {
    color: #666;
}

.form-group {
    margin-top: 2%;
}

.glyphicon-arrow-right {
    padding-left: 10px;
    padding-right: 5px;
}

#resultsJumbo {
    text-align: center;
    background-color: #ecf0f1;
    color: black;
}

#userInput {
    text-align: center;
}

#result {
    color: #2980b9;
    font-size: 3.5em;
    font-weight: bold;
}

#conversionOutput {
    font-size: 2.5em;
}

#dateArea {
    font-size: 1em;
    text-decoration-line: underline;
}

#result, #conversionOutput {
    display: inline;
}

#headingColour {
    color: #f1c40f;
}
